/* basic style to normalize the page*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	/*variables*/
	--border-radius: 15px;
	--box-shadow: 15px 10px;
	--box-shadow-2: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); 

    /*font variables*/
    --font-young:"Young serif";
	--font-outfit-Black:"Outfit-Black";
	--font-outfit-Bold:"Outfit-Bold";
	--font-outfit-ExtraBlack:"Outfit-ExtraBlack";
	--font-outfit-Extralight:"Outfit-Extralight";
	--font-outfit-light:"Outfit-light";
	--font-outfit-Medium:"Outfit-Medium";
	--font-outfit-Regular:"Outfit-Regular";
	--font-outfit-SemiBold:"Outfit-SemiBold";
	--font-outfit-Thin:"Outfit-Thin";
	--font-size:16px;

    /*color variables*/
    --black:black;
    --white:hsl(0, 0%, 100%);
    --test-1:lightgreen;
    --border-test:red;
	--borderTest: 2px solid red;

    /*other color variables*/
	--stone-100: hsl(30, 54%, 90%);
	--Stone-150: hsl(30, 18%, 87%);
	--Stone-600: hsl(30, 10%, 34%);
	--Stone-900: hsl(24, 5%, 18%);

	--Brown-800: hsl(14, 45%, 36%);

	--Rose-800: hsl(332, 51%, 32%);
	--Rose-50: hsl(330, 100%, 98%);
	/* Variables */
	--max-width-Desktop: 1440px;
	--max-widht-mobile:375px;

	--font-size:16px;
	

}

/*@font-face{font-family:; src:url();}*/
@font-face {
	font-family: "Young serif";
	src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
	font-family: "Outfit-Black";
	src: url("./assets/fonts/outfit/static/Outfit-Black.ttf");
}
@font-face {
	font-family: "Outfit-Bold";
	src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf");
}
@font-face {
	font-family: "Outfit-ExtraBlack";
	src: url("./assets/fonts/outfit/static/Outfit-ExtraBold.ttf");
}
@font-face {
	font-family: "Outfit-ExtraLight";
	src: url("./assets/fonts/outfit/static/Outfit-ExtraLight.ttf");
}
@font-face {
	font-family: "Outfit-light";
	src: url("./assets/fonts/outfit/static/Outfit-Light.ttf");
}
@font-face {
	font-family: "Outfit-Medium";
	src: url("./assets/fonts/outfit/static/Outfit-Medium.ttf");
}
@font-face {
	font-family: "Outfit-Regular";
	src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf");
}
@font-face {
	font-family: "Outfit-Semibold";
	src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf");
}
@font-face {
	font-family: "Outfit-Thin";
	src: url("./assets/fonts/outfit/static/Outfit-Thin.ttf");
}
.attribution{
	margin-top:15rem;
}
body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background:#f3e5d8 ;
}

.main-container{
	display: grid;
	place-content: center;	
	align-content: center;
	border:var(--borderTest);
	width: 100%;
	height: 100%;
}
.recipe-container{
	background-color:var(--white);
	width: 100%;
	height: 100%;
	margin-top:5rem;
	margin-bottom: 5rem;
	max-width: 35rem;
	border: var(--borderTest);
	padding: 1.5rem;
	border-radius: var(--border-radius);

}
.head-container{
	display: grid;
	justify-content: center;
	align-items: center;
	padding-left:0.75rem;
}
img {
	width: 100%;
	max-width: 30rem;
}
.header{
	font-family: var(--font-young) ;
	font-weight: 100;
	font-size: 30px;
	margin: 0.75rem 0 0.75rem;
	color: var(--black);
}
.parag{
	font-size: var(--font-size);
	color: #696968;
	font-size:12px;
	font-weight: 400;
	line-height: 1rem;
	font-family: var(--font-outfit-light);
}
.prep-container{
	background:var(--Rose-50);
	border-radius: var(--border-radius);
	padding: 1rem;
	margin: 1.5rem 1rem;
}
.prep-container h2{
	color: var(--Rose-800);
	font-family: var(--font-outfit-Regular);
	margin-bottom: 1rem;
	font-size: 1rem;
}
.prep-container ul {
	list-style-type:none;
}
.prep-container ul li::before{
	content:"•";
	padding-right: 2rem ;
	color: var(--Rose-800);
}
.prep-container ul li {
	font-family: var(--font-outfit-light);
	font-size: 0.75rem;
	color: var(--Stone-600);
	font-weight: 300;
	padding: 0.3rem;
}
.prep-container ul li span{
	font-family: var(--font-outfit-SemiBold);
}

.ingredients-container{
	margin: 1.5rem 1rem;
}
.ingredients-container h2{
	color: var(--Rose-800);
	font-family: var(--font-young);
	font-weight: 100;
}
.ingredients-container ul{
	list-style-type: none;
	font-family: var(--font-outfit-Regular);
	font-size: 0.90rem;
	color: var(--Stone-600);
}
.ingredients-container ul li::before{
	content: "•";
	padding: 0.75rem;
	line-height: 2rem;
}
hr{
	border: 0.1px solid #efefef;
	margin-bottom: 1.75rem;
}